<%- include('partials/header'); -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Payments Tickets</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Payment Tickets
        </div>
        <div class="card-body">

            <table id="dataTable" class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Date</th>
                </thead>
                <tbody>
                <% for(var i of items) { %>
                <tr>
                    <td><%= i.id %></td>
                    <td><a href="/boss/users/<%= i.user_id%>"><%= i.user.email %></a></td>
                    <td><%= i.name %></td>
                    <td><%= i.date %></td>
                    <!--<td><a href="/boss/users/">Edit</a></td>-->
                </tr>
                <% } %>
                </tbody>
            </table>

        </div>
        <div class="card-footer small text-muted"></div>
    </div>

</div>

<%- include('partials/footer'); -%>